<div class="row">
    <div class="col-md-12">
        <h1>Consultar paciente</h1>
        <p>persona-consulta works!</p>
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar...">
        <hr>
    </div>
    <div class="col-md-12" *ngIf="pacientes && pacientes.length">
        <div class="card">
          <!--<div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
          </div>-->
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                    <th>#</th>
                    <th>Identificación</th>
                    <th>Nombre </th>
                    <th>Valor Servicio</th>
                    <th>Salario</th>
                    <th>Copago</th>
                </thead>
                <tbody>
                    <tr *ngFor="let paciente of pacientes; index as i ">
                        <th>{{ i + 1 }}</th>
                        <td>{{ paciente.identificacion }} </td>
                        <td>{{ paciente.nombre }}</td>
                        <td>{{ paciente.valorServicio  }}</td>
                        <td>{{ paciente.salario }}</td>
                        <td>{{ paciente.copago  }}</td>
                    </tr>
                </tbody>                    
              </table>
            </div>
          </div>
        </div>
      </div>
    
</div>
